body {
	background-color: #FFDE00;
	color: #000000;
	font-family: bebas-neue,sans-serif;
font-weight: 400;
font-style: normal;
}

.logo {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav{
	text-decoration: none;
	color: black;
    list-style:none;
    margin:0;
    padding:0;
    font-size: 35px;
    text-align:center;
}
.nav li{
	text-decoration: none;
	color: black;
    display:inline;
}
.nav a{
	text-decoration: none;
	color: black;
    display:inline-block;
    padding:10px;
}

.JM {
	font-size: 80px;
}

.JT {
	font-size: 80px;
}